.header {
    a {
        text-decoration: none;
    }
    .top-header {
        background-color: #2c2c2c;
        padding: 10px 0;
        color: #fff;

        .header-search {
            .content-search {
                position: relative;
                height: 35px;
                background-color: #fff;
                color: #000;
                border-radius: 8px;

                i {
                    font-size: 0.8rem;
                    color: #b6b6b6;
                }

                input {
                    border: none;
                    outline: none;

                    &::placeholder {
                        font-size: 0.8rem;
                        font-style: italic;
                    }
                }

                .most-search  {
                    a {
                        text-decoration: none;
                        color: #333;
                    
                        &:hover {
                            color: #333;
                        }
                    }

                    background-color: #fff;
                    border-radius: 8px;
                    min-height: 200px;
                    position: absolute;
                    top: 110%;
                    left: 0;
                    box-shadow: 0 0 5px;
                    box-sizing: border-box;
                    z-index: 9;

                    .most-search-title {
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: capitalize;
                    }

                    .list-item-search {

                        .item-search {
                            .item-search-name, .item-search-singer{
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 1.5rem;
                                text-transform: capitalize;
                            }

                            .item-search-type {
                                font-size: 12px;
                            }

                            &:hover {
                                background-color: #fcebeb;
                            }
                        }
                    }
                }

                .suggestion {
                    background-color: #fff;
                    border-radius: 8px;
                    min-height: 200px;
                    position: absolute;
                    top: 105%;
                    left: 0;
                    box-shadow: 0 0 5px;
                    box-sizing: border-box;
                    z-index: 99;

                    .suggestion-content {
                        .view-all a {
                            font-size: 12px;
                            color: #007bff;
                            &:hover {
                                color: #007bff;
                            }
                        }

                        .suggestion-title {
                            font-size: 18px;
                            font-weight: bold;
                        }

                        a {
                            color: #333;
                            &:hover {
                                color: #333;
                            }
                        }

                        .highlight {
                            color: red;
                        }

                        .song-suggestion {
                            .item-search-name, .item-search-singer{
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 1.5rem;
                            }

                            .item-search-type {
                                font-size: 12px;
                            }

                            &:hover {
                                background-color: #fcebeb;
                            }
                        }

                        .singer-suggestion, .album-suggestion {
                            font-size: 14px;
                            font-weight: 500;
                            .item-thumb {
                                img {
                                    width: 55px;
                                    height: 55px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
                                }

                            }

                            &:hover {
                                background-color: #fcebeb;
                            }
                        }

                        .video-suggestion {
                            &:hover {
                                background-color: #fcebeb;
                            }
                            font-size: 14px;
                            font-weight: 500;
                            .item-thumb {
                                img {
                                    width: 98px;
                                    height: 55px;
                                    object-fit: cover;
                                    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
                                }

                                .item-thumb-time {
                                    color: #fff;
                                    font-size: 12px;
                                    top: 0;
                                    left: 0;
                                    background-color: #000;
                                    opacity: 0.8;
                                }

                                .play {
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    opacity: 0;
                                    z-index: 11;
                                    line-height: 1;
                                    font-weight: bold;

                                    i {
                                        font-size: 20px;
                                        color: #ffffff;
                                    }
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background-color: #00000042;
                                    display: none;
                                    z-index: 10;
                                }

                                &:hover::before {
                                    display: block;
                                    
                                }

                                &:hover {
                                    .play {
                                        opacity: 1;
                                        color: #fff;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

        .history {
            .history-box {
                min-width: 400px;
                background-color: #fff;
                z-index: 2;
                border-radius: 5px;
                box-shadow: 0px 3px 15px #0000006A;
                color: #000;
                right: 0;
                top: calc(100% + 1rem);

                &::before {
                    position: absolute;
                    content: "";
                    top: -0.3rem;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 5px solid white;
                    z-index: -1;
                }

                .history-content {
                    a {
                        color: #333;

                        &:hover {
                            color: #333;
                        }
                    }
                    min-height: 150px;
                    background-color: #f1f1f1;
                    
                    .history-item {
                        &:hover {
                            background-color: #ff2d55;
                            
                            .history-item-content {
                                color: #fff;
                            }
                        }
                    }
                    
                }
            }
        }

    }

    .bot-header {
        background-color: #ededed;
        a {
            text-decoration: none;
            color: #333;

            &:hover {
                color: red;
                transition: 0.2s linear;
            }
        }

        .item {
            position: relative;
            display: flex;
            align-items: center;
            &:hover {
                .list-item {
                    display: block;
                }
            }
            .list-item {
                position: absolute;
                left: 0;
                top: 100%;
                background-color: #fff;
                box-shadow: 0px 3px 15px #0000006A;
                display: none;
                min-width: 150px;
                font-size: 14px;
                cursor: pointer;
                ul {
                    list-style: none;
                }
                z-index: 5;
            }

        }

        .upload {
            color: #fff;
            width: 120px;
            height: 40px;
            background-color: #ff2e55;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                box-shadow: 1px 3px 3px #0000006A;;
                transition: all 0.3s;
            }
        }

        .absolute {
            background-color: #f6f6f6;
        }

        .more {
            min-height: 300px;
            z-index: 99;
            transition:  0.2s;

            .box-item {
                .title-box {
                    position: relative;
                    font-size: 16px;
                    font-weight: bold;
                }

                .title-box::before {
                    content: "";
                    position: absolute;
                    top: calc((100% - 1rem)/2);
                    left: 0;
                    width: 0.3rem;
                    height: 1rem;
                    background-color: red;
                }

            }
        }
    }
}
