@import "bootstrap/scss/bootstrap";
// @import '@fortawesome/fontawesome-free/scss/fontawesome';
// @import '@fortawesome/fontawesome-free/scss/regular';
// @import '@fortawesome/fontawesome-free/scss/solid';
@import "header.scss";
@import "footer.scss";
@import "sidebar.scss";
@import "home.scss";
.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 100%;
}

.pointer {
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

