@import "bootstrap/scss/bootstrap";
// @import '@fortawesome/fontawesome-free/scss/fontawesome';
// @import '@fortawesome/fontawesome-free/scss/regular';
// @import '@fortawesome/fontawesome-free/scss/solid';
@import "header.scss";
.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 100%;
}

.pointer {
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

